{% extends 'meta/head_foot.html' %}
{% load static %}


{% block content %}

    <div id="home_menu" class="h_flex">

        <div id="menu_left" class="v_flex">
            <a href="#"> Présentation de l'entreprise</a>
            <a href="#"> Menuiserie et agencement</a>
            <a href="#"> Les créations d'éxeption</a>
            <a href="#"> Les objets du quotidien</a>
            <a href="#"> Le stylo alternatif </a>
            <a href="#"> Galerie photo </a>
            <a href="#"> Devis gratuit</a>
            <a href="#"> Contact </a>
            <a href="#"> Les partenaires </a>
        </div>

        <div id="menu_right">

        </div>

    </div>

{% endblock %}